<html>
<body>
<div>Dear {{person}},</div>
<div>
    Your cart is about to expire tomorrow. If you don't want to loose your shopping items, please check out your
    cart before <b>{{time}}</b>
</div>
<div>
    Kind regards, <br/>
    EMT Store personal
</div>
</body>
</html>